@{
    ViewBag.Title = "Home Page";
}

<div> <!--class="jumbotron"-->
   
        <h1 style="font-size:70px">Welcome</h1>
        <p class="lead">
            Web Medical is a website where you can find the specialty of the doctor you wish,
            arrange an appointment and chat with him online directly and effectively
        </p>
        <!--  <p><a href="https://asp.net" class="btn btn-warning btn-lg">Learn more &raquo;</a></p> -->
   
</div>



<div class="row">
    <div class="col-md-3">
        <h2>Covid-19</h2>
        <p>
            Visit the official site and check all the necessary information, latest updates 
            and instructions about Covid-19.
        </p>
        <p><a class="btn btn-warning btn-sm" href="https://eody.gov.gr/neos-koronaios-covid-19/">Learn more &raquo;</a></p>
    </div>
    <!--
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
        -->
